
/* AQUI SOLO LAS CLASES DE MATERIALIZECSS MODIFICADAS */
.fixed-action-btn { left:23px; }

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea { height:2rem; }

textarea.materialize-textarea { padding:0; }

.btn,
.btn-floating { box-shadow:none; }
.btn:hover,
.btn-floating:hover { box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); }
