
@media (max-width: 600px)
{
    #important .s0 { display:none; }
}

@media (min-width: 601px) and (max-width: 992px)
{
	#important .m0 { display:none; }
}

@media (min-width: 993px)
{
	#important .l0 { display:none; }
}

body { background:#eee; }

h1 { font-size:2.3rem; margin:10px; }
h2 { font:1.8rem fantasy; margin:10px; }
h3 { font-size:1.7rem; }
h4 { font-size:1.6rem; }
h5 { font-size:1.5rem; }
h6 { font-size:1rem; }

label { display:block; }

.toolbar { position:fixed; bottom:23px; left:23px; }

.actions { position:fixed; right:10px; top:10px; }
.actions a { display:block; margin-bottom:10px; }
